@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    &.light-theme {
        $primary: #cf352eff !global;
        $font: #333 !global;
        $bg1: white !global;
        $bg2: #ccc !global;
        background: linear-gradient(to bottom right, $bg1, $bg2);
    }
    &.dark-theme {
        $primary: #cf352eff !global;
        $font: white !global;
        $bg1: black !global;
        $bg2: #333 !global;
        background: linear-gradient(to bottom right, $bg1, $bg2);
    }
}
p, span, a, a:visited, h1, h2, h3, h4, i, b {
    color: $font;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
h2 {
    color: $primary;
    font-size: 8vw;
    text-shadow: 0px 15px 35px rgba(0, 0, 0, .5);
}
.circle {
    background: $primary;
    border-radius: 50%;
}
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    transition: .5s;
    z-index: 50;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: linear-gradient(13deg, $bg2 19%,$primary 65%);
    border-top: 3px solid $font;
    border-bottom: 3px solid $font;
    transition: .5s;
    z-index: 50;
}
::-webkit-scrollbar-track{
    background: $bg2;
    z-index: 50;
}

@mixin glass {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .4));
    backdrop-filter: blur(20px);
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0px 15px 35px rgba(0, 0, 0, .5);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}