@import "./../../resources/theme.scss";

.circle_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    .circle {
        height: 500px;
        width: 500px;
        z-index: 30;
        background: $primary;
    }
}