@import "./../../resources/vars.scss";

.bubble {
    @include glass;
    opacity: 0.2;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    display: block;
    pointer-events: none;
}