@import "./../../resources/theme.scss";

.about__layer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        justify-self: flex-start;
        z-index: 12;
    }
    @media (min-width: 1620px) {
        h2 {
            font-size: 145px;
        }
    }
}