@import "./../../resources/vars.scss";

$font: white;
$accent: #cf352eff;
$accent2: #00ffe5;

.container {
    width: 100%;
    max-height: 70vh;
    transform: translateY(10vh);
    overflow-y: hidden;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .faq_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 60%;
        
        div {
            @include glass;
            padding: 10px 20px;
            color: $font;
            width: 100%;
            margin-bottom: 20px;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba($color: white, $alpha: .3);
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                transform: translateX(-100%);
                transition: .3s ease;

            }
            &:hover, &:focus {
                &::after {
                    transform: translateX(100%);
                }
            }
            p {
                font-weight: 600;
                text-shadow: 0 0 10px rgba($color: #000000, $alpha: .5);

                &:nth-child(odd) {
                    color: $accent2;
                }
                &:nth-child(even) {
                    color: $accent;
                }
            }
        }
    }
    .repos_container {
        @include glass;
        max-width: 40%;
        max-height: 100%;
        padding: 10px 20px 0 20px;
        color: $font;

        .information {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            
            .lang {
                color: $accent;
                font-family: 'Courier New', Courier, monospace;
                text-shadow: 0 0 10px rgba($color: #000000, $alpha: .4);
                font-weight: 600;
                flex: 1;

                i {
                    margin-left: 10px;
                }
            }
            .links {
                i {
                    margin-left: 10px;
                    color: $font;
                    transition: .3 ease;

                    &:hover {
                        color: $accent;
                        text-shadow: 0 0 10px rgba($color: #000000, $alpha: .5);
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .container {
        justify-content: center;

        .faq_container {
            max-width: 100%;
        }
        .repos_container {
            display: none;
        }
    }
}