html, body {
    margin: 0;
    padding: 0;
}
.app {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    z-index: 10;

    section {
        z-index: 12;
    }
    .decoration {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 11;
    }
}
