
.header {
    h1 {
        white-space: pre-wrap;
        font-family: monospace !important;
        font-size: 3vw;
        line-height: 3.1vw;
        color: white;
        text-overflow: ellipsis;
    }
}


@media (max-width: 700px) {
    .header {
        padding: 20px;

        h1 {
            font-size: 10vw;
            line-height: 11vw;
        }
    }
}