@import "./../../resources/theme.scss";

.header__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;

    ul {
        position: absolute;
        top: 30px;
        left: 30px;
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

        li {
            padding: 5px 10px;
            border-bottom: 0 solid transparent;
            transition: border .3s ease-in-out;
            z-index: 12;
            
            &:hover {
                border-bottom: 4px solid $font;
            }
            a, a:visited {
                text-decoration: none;
                font-size: 3vw;
                font-weight: 600;
                letter-spacing: 1px;
                text-shadow: 0px 15px 35px rgba(0, 0, 0, .5);
            }
        }
    }
    h1 {
        font-weight: 800;
        font-size: 12vw;
        text-transform: uppercase;
        text-shadow: 0px 15px 35px rgba(0, 0, 0, .5);
        z-index: 12;
    }
    .theme__btn {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border-bottom: 0 solid transparent;
        transition: border .3s ease-in-out;
        z-index: 12;

        &:hover {
            border-bottom: 3px solid $font;
        }
        i {
            padding: 15px 10px;
            font-size: 3vw;

            &:nth-child(2) {
                display: initial;
            }
            &:nth-child(3) {
                display: none;
            }
        }
    }
}